$background: #f5f7fa;
$primary: #0b4f84;
$tick: #52c41a;

$text-primary: #293018;
$text-secondary: #384b56;
$text-title-large: #00a8ff;

$border: 1px solid #dde4ec;
$box-shadow: rgba(12, 32, 52, 0.1);

$wanning: #b86815;
$background-wanning: #fff7e6;

$selectd-menu: #e6f0fa;
$border-top-menu: 1px solid rgba(255, 255, 255, 0.2);
