.register-page{
	background: url("../../../assets/image/background3.jpg") no-repeat center;
  background-size: cover, cover;
  background-attachment: fixed;
}

.register-page .auth-illustration {
	max-height: 210px;
}

.register-page .auth-card {
	margin-top: -10px;
}

@media (max-width: 960px) {
	.register-page .auth-card {
		margin-top: 0;
	}
}
