.login-page{
	background: url("../../../assets/image/background3.jpg") no-repeat center;
  background-size: cover, cover;
  background-attachment: fixed;
}

.login-page .auth-illustration {
	max-height: 220px;
}

.login-page .auth-card {
	margin-top: -10px;
}

