.patient-intake-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 100vh;
  background: url("../../../assets/image/background3.jpg") no-repeat center;
  background-size: cover, cover;
  background-attachment: fixed;
}

.intake-container {
  padding: 16px;
  box-sizing: border-box;
}

// ========== PAGE HEADER ==========
  .patient-intake-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 16px;
    gap: 16px;

    p {
      margin: 0;
      color: #64748b;
      line-height: 1.6;
      font-size: 15px;
    }
  }

.patient-intake-card {
  background: white;
  border: 1px solid $border;
  max-width: 900px;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 6px 16px rgba(12, 32, 52, 0.08);
  margin: 0 auto 16px;
  box-sizing: border-box;

  .patient-intake-card-title {
    text-align: center;
    color: $primary;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 8px;
  }
}

// ========== FORM ==========
.form-section {
  .ant-form-item {
    margin-bottom: 12px;

    .ant-form-item-label {
      padding-bottom: 2px;
    }

    .ant-form-item-control {
      margin-top: 0px;
    }
  }
  .ant-radio-group {
    display: flex;
    gap: 30px;
    box-sizing: border-box;

    .ant-radio {
      box-sizing: border-box;

      .ant-radio-inner {
        border-color: $border;
      }

      &.ant-radio-checked .ant-radio-inner {
        border-color: $primary;
      }
    }
  }
}
